
/** header **/
.uniheader__wrapper {
	position: fixed;
	z-index: 10;
	background-color: rgba(255, 255, 255, .98);
	box-shadow: 0px 0px 5px rgba(0,0,0,0.25);
}

.uniheader__primary { 
	background-color: white;
	vertical-align: middle;
	overflow: hidden;
	height: 65px;
}

.uniheader__primary ::-webkit-input-placeholder {
   color: white;
}
.uniheader__primary :-moz-placeholder { /* Firefox 18- */
   color: white;  
}
.uniheader__primary ::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}
.uniheader__primary :-ms-input-placeholder {  
   color: white;  
}
.uniheader__homelink, .uniheader__logo {
	display: inline-block;
}
.uh__secondary-trigger {
	text-decoration: none
}

/* left side */
.uniheader__about {
	width: 10%;
	float: left;
	padding: 15px;
}

/* right side */
.nav {
	display:table;
}
.nav li > a {
	color: black;
}
.nav li:hover{
	border-bottom: 4px solid $orange;
	background:red;
}
.nav:last-child li{
	background: $grey-color-light;
}
.sub {
	position: relative;
}
.nav, .sub {
	height: 65px;
}
.nav li {
	display:table-cell;
	padding: 0 20px;
	height: inherit;
	vertical-align: middle;
}

.uniheader__meta {
	width: 100%;
	text-transform: uppercase;
	.sub {
		width: 35%;
		left: 50%;
	}
	.nav {
		position: absolute;
	}
	.nav:first-child {
		width: 35%;
		left: 10%;
	}
	.nav:last-child {
		top: 0;
		left: 75%;
	}
	.nav li {
		height: inherit;
	}
}
.newsletter__subscribe, .uniheader__newslettersub {
	height: 65px;
	text-transform: uppercase;
}
.uniheader__newslettersub {
	background-color: $secondary-grey;
	border: none;
	padding: 0 12px;
	font-size: 14px;
	position: absolute;
	left: 0;
	width: 50%;
}

.newsletter__subscribe {
	border: none;
	font-size: 1em;
	border-radius: 0;
	position: relative;
	width: 25%;
	left: 20%;
}
.uniheader__newslettersub:focus {
	outline: none;
}
/** org chart **/
.orgchart {
	background-color: #65408B;
	border-bottom: 2px solid #d7552d;
	overflow: auto; /* jank clearfix */
	padding: 12px 0;
	position: relative;
	top: 80px;
}
.orgchart__tags li {
	display: inline-block;
	list-style: none;
}
.orgchart-tag {
	border: 2px solid black;
	padding: 4px 8px;
	margin-bottom: 6px;
	cursor: pointer;
	border-radius: 2px;
}

.rsvp-header__button:hover {
	background-color: white;
}
.rsvp-header__button {
	border: 2px solid #65408b;
	background: transparent;
	color: #65408b;
	position: relative;
	top: -18px;
	transition: all 0.5s;
	margin-right: 1em;
	/*box-shadow: 0 2px 0 black;*/
}
/** footer **/
.unifooter__main {
	position: relative;
	top: 60px;
	background-color: #152A5B;
	color: white;

}