

.uniheader__wrapper {
	position: fixed;
	z-index: 10;
	background-color: rgba(255, 255, 255, .98);
	box-shadow: 0px 0px 5px rgba(0,0,0,0.25);
}

.uniheader__primary { 
	background-color: white;
	vertical-align: middle;
	border-bottom: 2px solid #65408B;
	overflow: hidden;
	height: 65px;
}

.uniheader__primary ::-webkit-input-placeholder {
   color: #888;
}
.uniheader__primary :-moz-placeholder { /* Firefox 18- */
   color: #888;  
}
.uniheader__primary ::-moz-placeholder {  /* Firefox 19+ */
   color: #888;  
}
.uniheader__primary :-ms-input-placeholder {  
   color: #888;  
}
.uniheader__homelink, .uniheader__logo {
	display: inline-block;
}
.uh__secondary-trigger {
	text-decoration: none
}

/* left side */
.uniheader__about {
	width: 10%;
	float: left;
	padding: 15px;
}

/* right side */
.uniheader__meta {
	width: 100%;
	height: inherit;
	text-transform: uppercase;
	.sub {
		width: 60%;
		display: inline-block;
		position: relative;
		left: 30%;
	}
	.nav, .sub {
		height: 100%;
	}
	.nav {
		width: 30%;
		display:inline-block;
		position: absolute;
		margin-top: 1.5em;
	}
	.nav li {
		display:inline;
		padding: 10px;
	}
}
.rsvp-header__button {
	border: 2px solid #65408b;
	background: transparent;
	color: #65408b;
	position: relative;
	top: -18px;
	transition: all 0.5s;
	margin-right: 1em;
	/*box-shadow: 0 2px 0 black;*/
}
.rsvp-header__button:hover {
	background-color: white;
}
.uniheader__newslettersub {
	background-color: $grey-color;
	border: none;
	padding: 0 12px;
	font-size: 14px;
	width: 35%;
}
.newsletter__subscribe, .uniheader__newslettersub {
	height: 65px;
}
.newsletter__subscribe {
	border: none;
	font-size: 1em;
	border-radius: 0;
	margin-left: -0.5em;
}
.uniheader__newslettersub:focus {
	outline: none;
}


.orgchart {
	background-color: #65408B;
	border-bottom: 2px solid #d7552d;
	overflow: auto; /* jank clearfix */
	padding: 12px 0;
	position: relative;
	top: 80px;
}
.orgchart__tags li {
	display: inline-block;
	list-style: none;
}
.orgchart-tag {
	border: 2px solid black;
	padding: 4px 8px;
	margin-bottom: 6px;
	cursor: pointer;
	border-radius: 2px;
}
.orgchart-tag--co {
}

/* ~*~*~*~*~*~*~*~*~*~*~*~
tech@NYU permanav - universal footer
version 1.0.0 * https://github.com/TechAtNYU/permanav
- - -
colors: https://app.frontify.com/d/MlLYiAFc3BzO/tech-nyu-style-guide#/basics/colors
~*~*~*~*~*~*~*~*~*~*~*~ */
.unifooter__main {
	position: relative;
	top: 600px;
	background-color: #152A5B;
	color: white;
}