/*---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
*/


// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}
* {
  margin: 0;
  padding: 0;
}

div > section {
  height: 90vh;
  margin: auto;
  border-bottom: 2px solid red;
}
.container {
    position: relative;  
    top: 80px;
}
.universal-section__reset {
  clear: both;
  box-sizing: border-box;
  width: 100%;
  font-family: 'Inconsolata', Helvetica, Arial, Sans-Serif;
}
input[type="text"], input[type="email"], input[type="submit"], button {
  font-family: 'Inconsolata', Helvetica, Arial, Sans-Serif;
}

.universal-section--primary, .universal-section--secondary {
  float: left;
  box-sizing: border-box;
  padding: 8px 20px;
}
.universal-section--primary {
  width: 60%;
  min-width: 400px;
}
.universal-section--secondary {
  width: 40%;
  min-width: 400px;
}
.universal__copy, .universal-section__reset p {
  line-height: 1.25;
  margin: 0.5em 0;
}
.universal-section__reset blockquote {
  font-size: 125%;
}
.universal__button {
  padding: 5px 10px;
  border-bottom: 2px solid black;
  border-radius: 6px;
  text-decoration: none;
  background-color: #65408b; /* temp */
  color: white;
  transition: all 0.5s;
}
.universal__button:hover {
  background-color: #d7552d;
  cursor: pointer;
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "_head_foot"
;
