<section class="about description">
	<h3>About</h3>
	<h4>History</h4>
	<p>Tech@NYU was created in Fall 2009 to connect technical and non-technical NYU students interested in building technology startups. Incubated with the help of the NYU Stern Berkley Center for Entrepreneurship & Innovation, Tech@NYU held its first event in October 2009 to help students form teams for the Stern Business Plan Competition.

	Now, our events are routinely attended by thousands from the NYU undergrad and graduate community as well as from other universities residing in New York City. We are an officially-recognized NYU All-Square club.</p>
	<p>Tech@NYU explores and solves problems, big and small, using technology.
		We do this through:
		<ul>
			<li>Connecting students to the larger technology community</li>
			<li>Educating and sharing resources only possible to obtain as a group</li>
			<li>Connecting students across different disciplines</li>
			<li>We recognize the power of technology. We are hackers in the purest sense.</li>
		</ul>
	</p>
	<div class="side">
		<div class="supporters">
			<li ng-repeat="org in supporters">
				<a href="{{org.url}}"><img alt="{{org.name}}" src="{{org.img}}"/></a>
			</li>
		</div>
		<p>If you're a student in New York City that's interested in the intersection of startups, entrepreneurship, coding, art and design - we want you to join us. If you're an NYC startup looking to give back to the student community, we also want to find ways you can help.</p>
		<a href="emailto:hello@techatnyu.org">hello@techatnyu.org</a>
	</div>
</section>
<section class="about team">
	<h3>Team</h3>
	<p>Tousled direct dollar it affogato pour-over banh chianormcore health pop-up shabby meditation etsy mlkshk heirloom direct migas gentrify jean sartorial pabst kinfolk beard crucifix. Chambray chianormcore narwhal bushwick dollar pork franzen beertrust before authentic yuccie axe scenester fund fashion. Meditation raw swag bottle disrupt locavore squid coffee lo-fi chic stumptown fap plaid pack mixtape goth heard. We're looking for new e-board members!</p>
	<ul class="team-images side">
		<li ng-repeat="member in team">
			<img src="{{member.img}}"/>
			<h5>{{member.name}}<h5>
			<a href="{{member.twitter}}">twitter</a>
		</li>
	</ul>
	
</section>
<section class="about press">
	<h3>Press </h3>
		<ul>
			<li ng-repeat="article in press">
				<a href="{{article.url}}">{{article.title}}</a>
			</li>
		</ul>
</section>
<section class="about">
  <p>All tech@NYU events are covered by our anti-harassment policy.</p>
  <blockquote>
    <p>Tech@NYU does not tolerate harassment in any form. We welcome everyone regardless of sex, race, gender, gender identity and expression, sexual orientation, disability, age, physical appearance, religion/faith, national origin, source of income, and language preference.</p>

    <p>Harassment includes but is not limited to: offensive verbal or written comments related to, or exclusion based on, any of the characteristics listed above (i.e. sex, race, gender, etc.); deliberate intimidation; following or stalking; unwanted photography or recording; sustained disruption of talks or other events; inappropriate physical contact; unwelcome sexual attention; and patronizing language or action.</p>
  </blockquote>
</section>