<section>
	<h3>About</h3>
	<p>Tech@NYU explores and solves problems, big and small, using technology.
		We do this through:
		<ul>
			<li>Connecting students to the larger technology community</li>
			<li>Educating and sharing resources only possible to obtain as a group</li>
			<li>Connecting students across different disciplines</li>
			<li>We recognize the power of technology. We are hackers in the purest sense.</li>
		</ul>
		<p>Started in 2009, Tech@NYU is one of the most diverse, most forward-moving student organizations, empowering thousands of students across NYC.</p>
	</p>
	<p>Contact: hello@techatnyu.org</p>
<section class="team">
	<h3>Team</h3>
	<section class="orgchart__primary">
	  <h4>Initiatives</h4>
	  <ul class="orgchart__tags">
	    <li class="orgchart-tag orgchart-tag--ah">After Hours</li>
	    <li class="orgchart-tag orgchart-tag--dd">DemoDays</li>
	    <li class="orgchart-tag orgchart-tag--sw">Startup Week</li>
	    <li class="orgchart-tag orgchart-tag--fc">Freshman Circuit</li>
	    <li class="orgchart-tag orgchart-tag--hd">Hack Days</li>
	    <li class="orgchart-tag orgchart-tag--de">Design Days</li>
	    <li class="orgchart-tag orgchart-tag--co">Community</li>
	    <li class="orgchart-tag orgchart-tag--in">Infrastructure</li>
	  </ul>
	</section>
	<section class="orgchart__secondary">
	  <h4>Meta</h4>
	  <ul class="orgchart__tags">
	    <li class="orgchart-tag">President</li>
	    <li class="orgchart-tag">Vice President</li>
	    <li class="orgchart-tag">Chair</li>
	    <li class="orgchart-tag">Treasurer</li>
	    <li class="orgchart-tag">Creative Director</li>
	    <li class="orgchart-tag">Marketing</li>
	    <li class="orgchart-tag">Business Development</li>
	  </ul>
	</section>
	<section class="team-images">
		<img src="images/image.jpg">
		<img src="images/image.jpg">
		<img src="images/image.jpg">
		<img src="images/image.jpg">
		<img src="images/image.jpg">
		<img src="images/image.jpg">
		<img src="images/image.jpg">
		<img src="images/image.jpg">
		<img src="images/image.jpg">
		<img src="images/image.jpg">
		<img src="images/image.jpg">
		<img src="images/image.jpg">
		<img src="images/image.jpg">
		<img src="images/image.jpg">
		<img src="images/image.jpg">
	</section>
</section>
<section>
	<h3>History </h3>

	Tech@NYU was created in Fall 2009 to connect technical and non-technical NYU students interested in building technology startups. Incubated with the help of the NYU Stern Berkley Center for Entrepreneurship & Innovation, Tech@NYU held its first event in October 2009 to help students form teams for the Stern Business Plan Competition.

	Now, our events are routinely attended by thousands from the NYU undergrad and graduate community as well as from other universities residing in New York City. We are an officially-recognized NYU All-Square club.
<section>
	<h3>Press </h3>
		<ul>
			<li>Entrepreneurs Should Stay in School | PandoDaily - October 4, 2012</li>
			<li>Charlie O'Donnell and David Tisch Really Don't See the Point of Pivoting | Betabeat - October 4, 2012</li>
			<li>Tech@NYU Hosts "Hacking as a Mentality" | NYU Arthur L. Carter Journalism Institute - October 3, 2012</li>
			<li>Will You Create the Next Facebook at Startup Week? | NYU Local - October 1, 2012</li>
			<li>NYU and Codecademy Partner to Teach Coding to Undergrads | Betabeat - September 24, 2012</li>
			<li>Students Push for Tech Entrepreneur Lab at NYU | Betabeat - April 27, 2012</li>
			<li>Tech@NYU DemoDays: Fostering Culture | NYU Entrepreneurs Network - December 3, 2011</li>
			<li>Tech@NYU's First Ever DemoDays is Happening This Saturday | NYU Local - November 17, 2011</li>
			<li>NYU Startup Week: Bigger, Faster, Awesomer | NYU Entrepreneurs Network - September 28, 2011</li>
			<li>"NYU Startup Week," featuring Entrepreneurship and Innovation | NYU - April 5, 2011</li>
			<li>Hone Your Tech Entrepreneurial Skills at NYU Startup Week Events | NYU Local - October 4, 2010</li>
			<li>NYU Tech Geeks to Have Best Week Ever | NYU Local - March 31, 2010</li>
		</ul>
</section>
<section class="">
  <p>All tech@NYU events are covered by our <a href="http://techatnyu.org/anti-harassment">anti-harassment policy</a>.</p>
  <blockquote>
    <p>Tech@NYU does not tolerate harassment in any form. We welcome everyone regardless of sex, race, gender, gender identity and expression, sexual orientation, disability, age, physical appearance, religion/faith, national origin, source of income, and language preference.</p>

    <p>Harassment includes but is not limited to: offensive verbal or written comments related to, or exclusion based on, any of the characteristics listed above (i.e. sex, race, gender, etc.); deliberate intimidation; following or stalking; unwanted photography or recording; sustained disruption of talks or other events; inappropriate physical contact; unwelcome sexual attention; and patronizing language or action.</p>
  </blockquote>
</section>