<div class="calendar clearfix">
	<tien-clndr class="clndr cal1" tien-clndr-object="clndr" tien-clndr-options="options" tien-clndr-events="events">
	  <div class="clndr-controls">
	    <div class="clndr-previous-button left-align" ng-click="clndr.back()">Previous</div>
	    <div class="clndr-next-button right-align" ng-click="clndr.forward()">Next</div>
	    <h2 class="month">{{month}} {{year}}</h2>
	  </div>
	  <div class="clndr-grid">
	    <div class="days-of-the-week">
	      <div class="header-day" ng-repeat="day in daysOfTheWeek track by $index">
	        {{day}}
	      </div>
	    </div>
	    <div class="days">
	      <div class="{{day.classes}}" ng-repeat="day in days" ng-click="showEvents(day.events)">
	        <span class="day-number">{{day.day}}</span>
	      </div>
	    </div>
	  </div>
	  <div class="event-listing">
          <h4 class="event-listing-title">Events this month</h4>
          <div ng-show="calInPresent()" class="sort-options"><span ng-click="showPast=true">Past</span> | <span ng-click="showPast=false">Upcoming</span> </div>
          <div ng-hide="showPast" class="event-item" ng-repeat="event in (futureEvents = (events | filter: { isPast: false}))" ng-if="isInCurrentMonth(event)">
            <a href="{{event.rsvpUrl}}"><div class="event-item-name">{{event.title}}</div></a>
            <div class="event-item-description">{{event.description}}</div>
         </div>
         <div class="event-item" ng-if="isInCurrentMonth(event)" ng-show="showPast || calInPresent() == false" ng-repeat="event in events | filter: { isPast: true}">
            <a href="{{event.rsvpUrl}}"><div class="event-item-name">{{event.title}}</div></a>
            <div class="event-item-description">{{event.description}}</div>
         </div>
      </div>
	</tien-clndr>
</div>