<section class="intro">
	<p>We are NYC’s largest student-run organization of hackers, designers & builders. We host events that unite students and help them make stuff.</p>
</section>
<section>
	<h2>What we do.</h2>
	<ul>
		<li>
			<h3>Get Started with the Tech Scene</h3>
			<h4>Freshman Circuit</h4>
			<p>Attend tech@nyu events and tour NYC startups with a small community of other freshmen. You'll get to meet startup employees to learn what they’re up to and where you might fit in. We’ve previously toured Kickstarter, eBay, The New York Times, Foursquare, Microsoft, Betaworks, and others.</p>

			<span>Click to Apply!</span>
		</li>
		<li>
			<h3>Improve Your Skills</h3>
			<ul>
				<li><h4>Hack Days</h4>
					<p>Lectures on web technologies, covering everything from Angular to Zepto.</p>
				</li>
				<li><h4>Design Days</h4>
					<p>Workshops on design thinking, user research, and advanced topics in digital product design (e.g. designing for mobile).</p>
				<li>
			<ul>
		</li>

		<li>
			<h3>Build & Socialize with Cool People</h3>
			<h4>After Hours</h4>
			<p>Designers, developers, and makers of all sorts coming together to hang out, work on their projects and get to know each other. All experience levels welcome!</p>
		</li>

		<li>Follow the Latest in Tech
			<ul>
				<li>
					<h4>Startup Week</h4>
					<p>A weeklong conference with technical, design, and entrepreneurship worskshops and talks—all capped by a hackathon. We bring in the best and brightest to share their skills and stories. Past speakers include Josh Kushner of Oscar, Dennis Crowley of Foursquare, David Karp of Tumblr, Scott Heiferman of Meetup, David Tisch of Box Group, and Chris Dixon of Andreessen Horowitz.</p>
				</li>
				<li>
					<h4>Demo Days</h4>
					<p>Students from all over NYC show off hacks or projects they’ve been working on. Demo your work, get inspired, or meet other students doing incredible things. We’ve hosted events at Tumblr, Microsoft, Stack Exchange, Spotify, and more.</p>
				</li>
		</li>
	</ul>
	<p><a href="/#/about">More about us</a></p>
</section>


