<section class="intro"></section>
<section ng-controller="MainCtrl as section" class="about-short">
	<div ng-show="section.isSet(1)" class="short-description">
		<h3>Who we are.</h3>
		<p>We are NYC’s largest student-run organization of hackers, designers & builders. We host events that unite students and help them make stuff. Take a look at our <a href="/events">calendar</a> for past and future events.</p>
		
		<a href="/about">Find out more.</a>
		<div class="latest" ng-show="nextEvent != null"> 
			<h4> Latest event</h4>
			<h5><a href="{{nextEvent.rsvpUrl}}">{{nextEvent.title}}</a></h5>
			<p>{{nextEvent.description}}
			<a class="universal__button" href="http://rsvp.techatnyu.org">RSVP</a>
		</div>
		<img class="image" src="images/1.JPG"/>
	</div>
	<div class="arrow-nav">
		<img ng-click="section.setSection(0)"src="images/icons/arrows-left.png">
		<img ng-click="section.setSection(1)" src="images/icons/arrows-right.png">
	</div>
	<ul class="initiatives-list">
		<li ng-show="section.isSet(2)" class="initiatives">
			<h3>Get Started with the Tech Scene</h3>
			<h4>Freshman Circuit</h4>
			<p>Attend tech@nyu events and tour NYC startups with a small community of other freshmen. You'll get to meet startup employees to learn what they’re up to and where you might fit in. We’ve previously toured Kickstarter, eBay, The New York Times, Foursquare, Microsoft, Betaworks, and others.</p>
			<a href="{{links.application.freshmanCircuit}}">Click to Apply!</a>
			<img class="image" src="images/1.JPG"/>
		</li>
		<li ng-show="section.isSet(3)" class="initiatives">
			<h3>Improve Your Skills</h3>
			<p> We have a <a href="{{links.learn}}">learning platform</a> with tutorials created just for you, curated by us. Also, check out <a href="{{links.ship}}">what we've made</a> and take a look at our <a href="/events">calendar</a> for future events.</p>
			<ul>
				<li ng-repeat="initiative in skillInitiatives">
					<h4>{{initiative.name}}</h4>
					<p>{{initiative.description}}</p>
					<a href="{{initiative.meetupUrl}}">Check out the meetup!</a>
				</li>
			</ul>
		</li>
		<li ng-show="section.isSet(4)" class="initiatives">
			<h3>Build & Socialize with Cool People</h3>
			<h4>After Hours</h4>
			<p>Designers, developers, and makers of all sorts coming together to hang out, work on their projects and get to know each other. All experience levels welcome!</p>
			<img class="image" src="images/1.JPG"/>
		</li>

		<li ng-show="section.isSet(5)" class="initiatives">
			<h3>Follow the Latest in Tech</h3>
			<ul>
				<li ng-repeat="initiative in followTechInitiatives">
					<h4>{{initiative.name}}</h4>
					<p>{{initiative.description}}</p>
					<a href="{{initiative.url}}">Check out the site!</a>
				</li>
			</ul>
		</li>
		<li ng-show="section.isSet(6)" class="initiatives">
			<h3>Get a Job</h3>

			<h4> Latest Job Post</h4>
			<h5><a href="{{links.jobs}}">{{latestJobPost.position}}</a></h5>
			<p ng-bind-html="latestJobPost.description"></p>

			<p> We have access to companies bla bla bla...Have a look at our <a href="{{links.jobs}}">Job Board</a> and/or <a href="{{links.resumeDrop}}">drop your resume!</a></p>

			<h4>Career Fair</h4>
			<p>A career fair with the biggest and best companies in New York! Last Career Fair featured Newsweek, MoveLoot, Venture For America, Aloha, Switch, Parcel, 2U, TouchLab and Cockroach Labs.</p>
			<img class="image" src="images/1.JPG"/>
			<a href="{{links.careerFair}}">Latest Career Fair site.</a>
		</li>
	</ul>
</section>